*{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
  }
  .body{
    position: absolute;
    max-width: 100%;
    margin: 0 20rem;
    z-index: 10;
    background-color:#ffffff;
  }

  .Header{
    font-size: 30px;
    font-weight: bolder;
    position: relative;
    margin-top: 5%;
    left:1.5%
  }

  .top{

  }

  .reproductor{
    margin-top: -30%;
    margin-left: 50%;
  }