.containerCard {
    width: 10vw;
    height: 30vh;
    display: flex;
    background-size: cover;
    float: left;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    left: -.5%;
    background-position: center;
    margin: 10px;
    align-items: center;
    align-content: center;
    background-color: #f4258d;
    align-items: center;
}

.imagePlay{
  max-width: 100%;
  
  object-fit: cover;
  position:relative;
  align-items: center;
 
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 90%;
}
.containerCard:hover .card {
  opacity: 3;
  transform: scale(1);
}
.containerCard img {
  object-fit: cover;
  transition: transform .8s ease;
  
}

.containerCard:hover img {
  transform: scale(1.1);
}
.containerCard img{
  transition: transform .8s ease;

}

.cardTitle {
  position: relative;
  width: 70%;
  height: 100%;
  transform: scale(1.3);
  opacity: 100%;
  top: 40%;
  z-index: 1;
  font-family: 'Montserrat', sans-serif;

}





