.containerArtist{ 
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    align-items: right;
    left: 2%;
    top: 3%;
   }

   .titleartist {
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    left:10%;
   }