/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: auto;
  list-style: none;
  line-height: 1;
}

nav {
  height: 100%;
  width: 20%;
  /* width: 280px; */
  background: #1e1a3dde;
  overflow: hidden;
 padding: 0;
  float: left;
}

.logo {
  justify-content: center;
  display: flex;
  margin: 0 0 0 20px;
  padding-bottom: 3rem;
}

.logo img {
  display: flex;
  width: 140px;
  height: 145px;
  border-radius: 50%;
  justify-content: center;
}

nav span {
  display: block;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  justify-content: center;
  padding: 0%;
}

/* li a {
  width: 280px;
  font-size: 14px;
  color: rgb(85, 83, 83);
  display: block;
  padding: 10px;
  list-style: none;
} */

/* nav .fas {
  position: relative;
  width: 70px;
  height: 40px; 
  font-size: 20px;
  text-align: center;
} */





.logout {
  position: relative;
}

.container {
  display: inline-block;
}
ul {
  text-align: center;
  color: white;
  list-style: none;
}
li {
  padding: 25px 0 20px 0;
} 
  .nav-item {
    position: relative;
    /* top: 12px; */
    width: 100%;
    height: 100%; 
    font-size: 20px;
    text-align: center;
    padding: 0%;
  }
    .nav-item::before{
      content: '';
      display: block;
      position: absolute;
      left: -4px;
      top: 10px;
      transform: rotate(45deg);
      width: 10px;
      height: 10px;
      background-color: inherit;
      display: block;
    font-size: 24px;
    transition: all ease 450ms;visibility:visible;
      opacity: 1;
    }
  .nav-item:hover {
    background-color: #0a0915;
    
  }
  
  span.active {
    background-color: #22252E;
    text-emphasis-color: #f0c8e8;
  } 
a {
  cursor: pointer;
  width: 100%;
  font-size: 14px;
  color: rgb(227, 227, 227);
  display: block;
  text-decoration: none;
}