.card{
    
    display: flex;
    background-size: cover;
    float: left;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    background-position: center;
    margin-left: 1.5%;
    align-items: center;
    align-content: center;
    background-color:  #F4258E;
    align-items: center;
}

.image{
  width: 350px;
  height: 400px;
  object-fit: cover;
  position:absolute;
  margin-left: 63%;
  align-items: center;
  opacity: 100%;
}


.card-top {
  position: absolute;
  width: 90%;
  height: 100%;
  transform: scale(1.3);
  opacity: 100%;
  
}


.card-top h2 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-70%, -50%);
  font-weight: bold;
  font-size: 2rem;
  text-align: left;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.btn-card{
    background: #FFF;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    cursor: pointer; 
    margin-top: 20%; 
    margin-left:5%;
    letter-spacing: 3px;
    color: #F4258E;
    font-size: 15px;
    border: none;
  }
  