
.container{
  position: relative;
  margin-top: 7%;
}

.avatar{
  position: relative;
  margin-top: -25%;
  margin-left: 100%;
}

.search{
  position: relative;
  margin-top: -25%;
  left: 200%;
}

.name{
  position: relative;
  margin-top: 50%;
}