
  .Header{
    position: relative;
    margin-top: 5%;
  }
  .Header h3{
    font-size: 50px;
    font-weight: bolder;
    position: relative;
    left:1.5%;
  }
  .buscador{
    background: url(https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png) no-repeat 0px 5px;
    background-size: 24px;
    width: 500px;
    border: transparent;
    border-bottom: solid 1px #ccc;
    padding: 10px 0px 10px 30px;
    position: absolute;
    outline: none;
    top: 20%;
    left: 80%;
  }