* {
    box-sizing: border-box;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

.audio-player {
    max-width: 350px;
    padding: 24px;
    border-radius: 20px;
    box-shadow: 0 28px 28px rgba(0, 0, 0, 0.2);
    margin: auto;
    color: var(--white);
}

.artwork {
    border-radius: 120px;
    display: block;
    margin: auto;
    height: 200px;
    width: 200px;
}

.track-info {
    text-align: center;
    z-index: 1;
    position: relative;
}

.title {
    font-weight: 700;
    margin-bottom: 4px;
}

.artist {
    font-weight: 300;
    margin-top: 0;
}

.audio-controls {
    display: flex;
    justify-content: space-between;
    /*  */
    margin: 0 auto 15px;
    align-content: center;
}

.audio-controls .prev svg,
.audio-controls .next svg {
    width: 48px;
    height: 44px;
    /* background: rgba(152, 114, 131, 0.8); */
    mix-blend-mode: normal;
}

.audio-controls .play svg,
.audio-controls .pause svg {
    width: 40px;
    height: 40px;
    
}

/* .audio-controls path {
    fill: var(--white);
} */