.artistPresentation{
   width: 100%;
}
.containerArtist{
    display: flex;
    width: 70vw;
    height: 20vh;
    background-color: #f3258e;
    border-radius: 40px;
    margin-top: 2%;
    margin-right: 2%;
    color: white;
}

.containerAlbums{
    display: flex;
}





.artistSongs{
    margin-top: 5%;
    margin-right: 0;

}
.titleTableSongs{
    margin-left: 3%;
    margin-bottom: 3%;
    font-size: x-large;
    font-weight: bold;
    color: #555555;
}

tr {
    border:none;
    text-align: left;
    color: #555555;
}

td{
    padding: 10px 0;
}
tr:hover{
    background-color: #ffe4f3;
}

table{
    border-collapse: collapse;
    width: 70%;
    font-size: large;
    border: none;

}

th.nameSongHeader{
    width: 200px;
}


th.durationSongHeader{
    width: 50px;
}

th.PhotoSongHeader{
    width: 60px;

}

td.PhotoSong{
    width: 60px;
}

